<form action="/login" method="post">
  <p>email</p>
  <input type="email" name="email" id="" />
  <p>password</p>
  <input type="password" name="password" id="" />
  <input type="submit" value="register" />
  <p><a href="/register">are you don't have account? click at here</a></p>
</form>
