<form action="/login" method="post">
  <p>email</p>
  <input type="email" name="email" id="" />
  <p>password</p>
  <input type="password" name="password" id="" />
  <input type="submit" value="register" />
</form>
