<form action="/register" method="post">
  <p>name</p>
  <input type="text" name="name" id="" />
  <p>email</p>
  <input type="email" name="email" id="" />
  <p>password</p>
  <input type="password" name="password" id="" />
  <p>confirm your passoword</p>
  <input type="password" name="confirmpassword" id="" />
  <input type="submit" value="register" />
</form>
