<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="css/styles.css">-->
  
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <nav class="m-auto flex justify-around w-ful text-white text-center p-5 bg-gray-900"> 
        <ul class="m-auto w-3/4 flex justify-around">
          <li class="m-auto flex jutify-center"><a href="/home" class="m-auto"><i class="fa-solid fa-house"></i> Home</a></li>
          <li class="m-auto flex jutify-center"><a href="/dashboard" class="m-auto"><i class="fa-solid fa-plus"></i> Dashboard</a></li>
          <% if (session.userid) { %>
            <li class="m-auto flex jutify-center"><a href="#" class="m-auto"><%= session.username %></a></li>
            <li class="m-auto flex jutify-center"><a href="/logout" class="m-auto"><i class="fa-solid fa-right-from-bracket"></i> Exit</a></li>
          <% } else { %>
            <li class="m-auto flex jutify-center"><a href="/login" class="m-auto"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
          <% } %>
        </ul>
      </nav>
      <%- include(bodyComponent) %>
  </body>
</html>
